
:root {
  --main-bg: #1A1A1A;
  --search-bg: #4D4F56;
  --search-height: 20;
}

h1 {
  color: gold;
}

body {
  background-color: var(--main-bg);
}

.header {
  height: 100px;
}


.simg {
  width: 20px;
  height: 20px;
  margin-left: 4px;
  margin-top: 4px;
  float: left;

}

.search {
  background-color: var(--search-bg);
  border-radius: 8px;
  margin: auto;
  overflow: auto;
  width: 320px;
  left: 0;
}

.tsb {
  background-color: var(--search-bg);
  outline: none;
  border: none;
  overflow: hidden;
  margin-top: 4px;
  margin: 4px;
  width: 220px;
  color: silver;
  height: var(--search-height);
}
.button {
  margin: 4px;
  height: var(--search-height);
  float: right;
}


